.form{
    border: 2px solid black;

    height: 7cm;
    width: 10cm;
    margin-top: 50px;
    margin-left: 590px;
    background-color: antiquewhite;
}
.header{
    text-align: center;

}

.label {
    padding: 30px;


}

.button {
    margin-left: 150px;
}
