.list {
    text-align: center;
    float: left;
    zoom: 1;
    margin: 1rem;
    list-style: none;
    margin-left: 15rem;
    margin-bottom: 0rem;
}

.button1 {
  display: flex;
  padding: 18px;
  background-color: rgb(176, 157, 205);
  border: none;
  border-radius: 7px;
  margin: auto;
  cursor: pointer;
}