.cartbutton {
    display: flex;
  }
  
  .button {
    margin-right:10px;
    border: 2px solid #56ccf2;
    padding: 4px 12px;
    color: white;
    border-radius: 12px;
  }
  .badge {
    color: white;
    margin-right:9px;
    color: #56ccf2;
    font-size: 22px;
  }