.divheader {
    padding: 45px;
    background-color: gray;
}
.img {
    width: 5%;
    text-align: center;

}

.button {
    background-color: transparent;
    color: white;
    border-color: aqua;
    text-align: center;
}

.h2 {
    text-align: center;
}
.para{
    text-align: center;
}