.divheader {
    padding: 0%;
    background-color: gray;
}
.img {
    width: 5%;

}

.button {
    background-color: transparent;
    color: white;
    border-color: aqua;
}

.h2 {
    text-align: center;
}