/* .cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }

.img {
    max-width: 5%;
    border-radius: 10%;
}

.section {
    text-align: center;

}

.div {
    margin: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30%;
}

.cart-items {


    width: 100%;
    align-items: center;
    padding: 0 30%;
    font-size: 20px;
}

.h2{
    align-items: flex-end;
    text-align: end;
}

.button {
    text-align: end;
    align-items: flex-end;
    background-color: red;
    color: white;
} */