
.container{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    text-align: center;
    width: 100%;
    padding: 40px;
    position: sticky;
    
    bottom: 0%;
}
.container img{
    width: 5%;
    text-align: center;

}
.container button{
    background-color: transparent;
    color: white;
    border-color: aqua;
    
}
